/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* end of universal */

/* events */
#events{
    width: 100%;
    height: 100vh;
    margin-top: 15vh;
}
#events h1{
    text-align: center;
    color: blue;
    font-size: 3rem;
    margin-bottom: 50px;
    padding-top: 30px;
}
#events .header{
    background: rgb(147, 187, 247);
    width: 100%;
    height: 100px;
    text-align: center; 
}
#events .event-content{
    padding: 40px;
    margin: 5px;
    font-size: 1.3rem;
}
#events .event-content h3{
    color:rgb(147, 187, 247);
    font-weight: 700;
}


/* event media */
@media screen and (max-width: 600px){
    #events .event-content h3{
        color:rgb(147, 187, 247);
        font-weight: 400;
        font-size: 17px;
    }
    #events h1{
        text-align: center;
        color: blue;
        font-size: 1.9rem;
        margin-bottom: 50px;
        padding-top: 30px;
    }
    #gallery h1 span{
        color: blue;
    }
    #events .header{
        height: 70px;
    }
}
/* end of event media */
/* end of events */
