/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* end of universal */

/* gallery */
#gallery{
    margin-left: 0px;
    margin-right: 20px;
    align-items: center;
    margin-top: 11vh;
   
}
#gallery .header{
    background:rgb(147, 187, 247);
    width: 100%;
    /* height: 100px; */
    text-align: center;
    margin: 0;
}
#gallery h2{
    text-align: center;
    color: blue;
    font-size: 3rem;
    margin-bottom: 50px;
    padding-top: 30px;
}
#gallery h2 span{
    color: blue;
}
#gallery .gallery{
    margin: 10px 50px;
}
#gallery .gallery img{
    width: 230px;
    height: 300px;
    padding: 5px;
    transition: 1s;
}
#gallery .gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

/* gallery media */
@media screen and (max-width:600px){
    #gallery{
        margin-left: 0px;
        padding: 0;
        align-items: center;
        width: 100%;
        /* height: 100vh; */
    }
    #gallery .header{
        background:rgb(147, 187, 247);
        width: 100%;
        height: 100px;
        text-align: center;
        margin: 0;
    }
    #gallery h2{
        text-align: center;
        color: blue;
        font-size: 1.9rem;
        position: absolute;
        top: 8%;
        left: 4%;
        margin: 0 auto;
    }
    #gallery .gallery img{
        width: 13rem;
        height: 17rem;
        transition: 1s;
        flex-basis: 30%;
    }
    #gallery .gallery{
        margin: 10px auto;
        margin-left: 2%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
   
}
/* end of gallery media */
/* end of gallery */


/* classes media */
@media screen and (max-width: 600px){
   #gallery .gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
    }
}
   /* end of classes media */
