/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   overflow-x: hidden;
}
/* end of universal */

/* section */
.content-wraper{
    width: 100vw;
    /* height: 500vh; */
    white-space: nowrap;

}
.section{
    width: 100vw;
    /* height: 100vh; */
    display: inline-block;
    position: relative;
}
/* end of section */

#hero{
    width: 100%;
    height: 100vh;
    background: url(../gallery/pexels-cdc-3992949.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}
#hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,blue, transparent);
    z-index: -1
}
#hero .home-content{
   margin-top: 7rem;
   margin-left: 3rem;
   display: inline-block;
}
#hero .home-content h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
}
#hero .home-content .motto{
    margin: 1rem auto;
}
#hero .home-content p{
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 0;
    color: white;
    font-size: 1rem;
}
#hero .home-content .motto{
    font-size: 1.3rem;
    color: yellow;
}

/* hero media */
@media screen and (max-width:600px){
  
    #hero{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    #hero .home-content{
        margin-top: 10rem;
        margin-left: 2rem;
        display: inline-block;
     } 
     #hero .home-content h1{
        margin-bottom: 1.2rem;
        font-size: 2rem;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: yellow;
    }
    #hero .home-content .motto{
        margin: 1rem auto;
    }
    #hero .home-content p{
        margin-top: 3.4rem;
        margin-bottom: 1rem;
        color: white;
        font-size: 0.8rem;
    }
    #hero .home-content .motto{
        font-size: 1.1rem;
    }
    #hero .home-content .btn{
        height: 1.5rem;
        width: 12rem;
        font-size: 12px;
    }
    #hero .home-content .btn:hover{
        width: 215px;
    }
}
/* end of hero media */
/* end of hero */

/* trust */
#trust{
    width: 100%;
    /* height: 100vh; */
}
#trust .container .content{
    width: 22rem;
    height: 23rem;
    padding: 1rem;
    background: whitesmoke;
    text-align: center;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}
#trust .container .content p{
    text-align: center;
    margin: 0.1rem auto;
    color: rgb(147, 187, 247);
    font-weight: 700;
}
#trust .container .content img{
    display: inline-block;
    height: 3.2rem;
    margin: 0.3;
}
#trust .container .content .content-head{
    margin-bottom: 2rem;
    display: flex;
}
#trust .container .content .content-head h3{
      margin-left: 2rem;
      margin-right: 1rem;
      margin-top: 1rem;
      font-size: 1.8rem;
      color: rgb(40, 40, 238);
}
#trust .container .content .content-head img{
    display: inline-block;
    height: 2.8rem;
}

/* trust media */
@media screen and (max-width:600px){
    #trust{
        width: 100%;
        /* height: 100vh; */
        /* margin-bottom:820px; */
    }   
    #trust .container{
        width: 90%;
        /* height: 300px; */
        padding: 1rem;
        background: rgb(147, 187, 247);
        text-align: center;
        margin: 1rem;
        align-items: center;
        justify-content: center;
    }
    #trust .container .content{
        width: 100%;
        /* height: 300px; */
        padding: 1.3rem;
        background: whitesmoke;
        text-align: center;
        margin: 1.3rem auto;
    }
    #trust .container .content p{
        text-align: center;
        margin: 0.2rem auto;
        font-weight: 400;
        font-size: 1rem;
    }
    #trust .container .content .content-head{
        margin-bottom: .8rem;
        margin-right: 4rem;
        width: 270px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #trust .container .content .content-head h3{ 
        margin-top: 15px;
        margin-left: 0;
        font-size: 1.2rem;
        color: rgb(40, 40, 238);
  }
  #trust .container .content .content-head img{
        display: inline-block;
        height: 30px;
}
#trust .container .content img{
        display: inline-block;
        height: 30px;
        margin: 9px;
}
}
/* end of trust media */
/* end of trust */



/* services */
#services{
    width: 100%;
    /* height: 68vh; */
    margin-top: 10rem;
}
#services .service-body{
    width: 100%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 5rem;
    overflow: hidden;
}
#services .service-body::after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(147, 187, 247);
    opacity: 1;
    z-index: -1;
}
#services .service-head{
    margin-top: 12rem;
    margin-left: 0;
    text-align: center;
}
#services .service-head h1{
    font-size: 3rem;
    color: blue;
}
#services .service-head p{
    color: blue;
    font-size: 1.3rem;
    padding: 1.5rem;
}
#services .service-content{
    /* width: 23rem; */
    padding: 1rem 0.7rem;
    height: 23rem;
    margin: 1rem 1.3rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition:  transform .3s linear,box-shadow .3s linear;
} 
#services .service-content:hover{
    cursor: pointer;
    transform: translate(3% , -3%);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .7);
}
#services .service-body .hidden{
    display: none
}

/* service media */
@media screen and (max-width:600px){
    #services{
        width: 100%;
        /* height: 68vh; */
        margin-top: 5rem;
    }
    #services .service-body{
        width: 100%;
        /* height: 160vh; */
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        overflow: hidden;
    }
    #services .service-head h1{
        font-size: 1.5rem;
        color: blue;
    }
    #services .service-head p{
        font-size: 14px;
        color: blue;
    }
    #services .service-content{
    width: 80%;
    /* height: 310px; */
    margin: 0 20px;
    background: #fff;
    margin: 16px auto;
    border-radius: 10px;
    } 
    #services .service-content .work{
        font-size: 1.1rem;
        margin-top: 10px;;
    }
    #services .service-content .details{
        font-size: 14px;
        font-weight: 400;
    }
}
/* end of service media */
/*end of services

/* testimonial */
#testimonial{
    width: 100%;
    /* height: 92vh; */
    position: relative;
    z-index: 1;
    padding: 2.5rem 0;
}
#testimonial::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(147, 187, 247) ;
    opacity: .3;
    z-index: -1;
}
#testimonial h1{
    font-size: 3rem;
    color: blue;
    text-align: center;
    padding-top: 5rem;
}
#testimonial .line{
    width: 13rem;
    height: 0.3rem;
    background: blue;
    margin: 0.5rem auto;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, .5);
}
#testimonial p{  
    font-size: 1.3rem;
    color: blue;
    text-align: center;
    margin-top: 3.8rem;
    margin-bottom: 3rem;
}
#testimonial .testimonial-container{
    width: 100%;
    /* height: 300px; */
    margin-top: 2.3rem;
    display: flex;
    flex-direction: row;
}
#testimonial .testimonial-container .test-container-content{
    /* height: 330px;  */
    flex-basis: 30%;
    background: white;
    margin: 0 40px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .7);
    padding: 1.8rem;
    padding-bottom: 0.5rem;
}
#testimonial .testimonial-container .test-container-content .pic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 3px solid rgb(147, 187, 247);
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
}
#testimonial .testimonial-container .test-container-content .pic img{
    display: inline-block;
    height: 100px;
    width: 95px;
    margin-right: 30px;
}
#testimonial .testimonial-container .test-container-content p{
    font-size: 13px;
    color: rgb(147, 187, 247);
    font-weight: 900
}
#testimonial .testimonial-container .test-container-content h3{
    text-align: center;
    color: rgb(147, 187, 247);
    font-weight: 900;
}
#testimonial .testimonial-container .test-container-content .stars{
    width: 200px;
    margin: 0 auto;
    box-sizing: border-box;
}
#testimonial .testimonial-container .test-container-content .stars img{
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-left: 40px;
}
#testimonial a{
    background: blue;
    color: white;
    border: none;
    border-radius: 0;
    width: 10rem;
    margin-left: 80%;
    margin-top: 3rem;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.7);
}
#testimonial a:hover{
    cursor: pointer;
    width: 12rem;
}

/* testimonial media */
@media screen and (max-width:600px){
    #testimonial{
        width: 100%;
        /* height: 270vh; */
        position: relative;
        z-index: 1;
        padding-top: 1.8rem;
    }
    #testimonial p{
        font-size: 0.9rem;
    }
    #testimonial h1{
        font-size: 1.9rem;
    }
    #testimonial .testimonial-container{
        width: 100%;
        height: 180vh;
        margin-top: 1.7rem;
        display: flex;
        flex-direction: column;
    }
    #testimonial .testimonial-container .test-container-content{
        width: 80%;
        margin: 1rem auto;
        height: 13rem;
    }
    #testimonial a{
        background: blue;
        color: white;
        border: none;
        border-radius: 0;
        width: 10rem;
        margin-left: 54%;
        margin-top: 0.5rem;
        font-size: 1rem;  
    }
    #testimonial a:hover{
        cursor: pointer;
        width: 190px;
    }
}
/* end of testimonial media */
/* end of testimonial */


/* reg */
#reg{
    width: 100%;
    /* height: 100vh; */
    /* height: 100vh; */
    background: url(../gallery/pexels-cdc-3992949.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}
#reg .word{
    font-size: 1.1rem;
    color: blue;
    margin: auto 2.8rem;
}
#reg button{
    margin-top: 4rem;
    margin-left: 35%;
    margin-bottom: 7rem;
    background: blue;
    color: white;
    width: 20rem;
    transition: transform .3s linear;
    animation: pulse .6s infinite ease;
}
#reg button:hover{
    transform: scale(1.1);
    animation: stop .3s infinite ease;
}

/* reg-media */
@media screen and (max-width:600px){
    #reg{
        width: 100%;
        /* height: 100vh; */
        background: #fff;
        /* margin-top: 4000vh; */
        background: url(../gallery/pexels-cdc-3992949.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;
        z-index: 1;
    } 
    #reg .word{
        font-size: 1rem;
        text-align: center;
        margin-top: 13rem;
        color: blue;
    }
    #reg button{
        margin-top: 5rem auto;
        margin-left: 17%;
        background: blue;
        color: white;
        width: 15rem;
        transition: transform .3s linear;
        animation: pulse .6s infinite ease;
    }
    #reg button:hover{
        transform: scale(1.1);
        animation: stop .3s infinite ease;
    }
}
/* end of reg-media */
/* end of reg */


/* keyframes */
@keyframes pulse{
    from{
        transform: translateY(3%);
    }
    to{
        transform: translateY(-10%);
    }
} 
@keyframes stop{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(0)
    }
}
/* end of keyframes */
/* special characters */
.btn{
    width: 250px;
    height: 38px;
    border: 2px solid white;
    display: inline-block;
    text-decoration: none; 
    text-align: center;
    padding-top: 3px;
    background: white;
    color: blue;
    border-radius: 20px;
    font-size: 1.1rem;
    position: relative;
    z-index: 43;
    transition: width .3s linear;
}

.btn:hover{
    cursor: pointer;
    width: 280px;
}

.container{
    width: 80%;
    /* height: 120vh; */
    margin: 1rem auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
    padding: 1rem;
    background: rgb(147, 187, 247);
    align-items: center;
    justify-content: center;
    /* opacity: .3; */
}
/* .container::after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 170vh;
    position: absolute;
    background: rgb(147, 187, 247);
    opacity: .3;
    z-index: -1;
} */
.model{
    height: 150px;
    max-height: 100%;
    max-width: 100%;
}
.details{

    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(147, 187, 247);
    text-align: center
}
.work{
    color: rgb(147, 187, 247);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.2rem;
}

button{
    padding: 20px;
    border: none;
    background: #37f;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    overflow: hidden;
}
#next{
    border-radius: 0px 10px 10px 0px;
    margin-left: 1280px;
}
#prew{
    border-radius: 10px 0px 0px 10px;
    margin-left: 12px;

}
/* end of special characters */

