{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/about.css">

<title>About Us</title>
{% endblock %}

{% block body %}
    
<!-- our school -->
<section id="school">
    <div class="sch-img">
        <img src="../static/gallery/IMG-20201125-WA0015.jpg" alt="picture">
    </div>
    <div class="content">
        <h1>OUR SCHOOL</h1>
        <div class="line"></div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, voluptate ut. Debitis harum repudiandae ea, mollitia qui nemo, suscipit et quisquam pariatur, ratione itaque illo repellendus tempore eaque consequuntur iure. Deleniti alias nemo amet nihil! Omnis quasi itaque quia corrupti, tenetur iure sapiente quibusdam nemo atque eos sed! Est architecto ea, ratione vitae nesciunt modi illo nisi corporis exercitationem impedit.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, voluptate ut. Debitis harum repudiandae ea, mollitia qui nemo, suscipit et quisquam pariatur, ratione itaque illo repellendus tempore eaque consequuntur iure. Deleniti alias nemo amet nihil! Omnis quasi itaque quia corrupti, tenetur iure sapiente quibusdam nemo atque eos sed! Est architecto ea, ratione vitae nesciunt modi illo nisi corporis exercitationem impedit</p>
    </div>
</section>
<!-- end of our school -->

<!-- qualities -->
<section id="qualities">
    <h1>OUR QUALITIES</h1>
    <!-- <div class="line"></div> -->
    <div class="quality-content">
        <div class="quality">
            <div class="img"><img src="../static/gallery/clip-hardworking-man.png" alt="DEDICATION"></div>
            <div class="let">
                    <h2>DEDICATION</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nulla pariatur repellat illum impedit accusantium ullam est quos nesciunt ipsum quia obcaecati cum animi expedita, autem odit laboriosam facilis deserunt maiores illo esse? Minima corporis porro neque mollitia esse vel molestiae, in impedit labore, ducimus deserunt? Harum, sit. Adipisci, rerum!</p>
            </div>
        </div>
        <div class="quality">
            <div class="let">
                    <h2>PERSEVERNACE</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nulla pariatur repellat illum impedit accusantium ullam est quos nesciunt ipsum quia obcaecati cum animi expedita, autem odit laboriosam facilis deserunt maiores illo esse? Minima corporis porro neque mollitia esse vel molestiae, in impedit labore, ducimus deserunt? Harum, sit. Adipisci, rerum!</p>
            </div>
            <div class="img"><img src="../static/gallery/climbing.png" alt="PERSEVERNACE"></div>
        </div>
        <div class="quality">
            <div class="img"><img src="../static/gallery/business-ethics.png" alt="INTERGRITY"></div>
            <div class="let">
                    <h2>INTERGRITY</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nulla pariatur repellat illum impedit accusantium ullam est quos nesciunt ipsum quia obcaecati cum animi expedita, autem odit laboriosam facilis deserunt maiores illo esse? Minima corporis porro neque mollitia esse vel molestiae, in impedit labore, ducimus deserunt? Harum, sit. Adipisci, rerum!</p>
            </div>
        </div>
        <div class="quality">
            <div class="let">
                    <h2>TRUST</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nulla pariatur repellat illum impedit accusantium ullam est quos nesciunt ipsum quia obcaecati cum animi expedita, autem odit laboriosam facilis deserunt maiores illo esse? Minima corporis porro neque mollitia esse vel molestiae, in impedit labore, ducimus deserunt? Harum, sit. Adipisci, rerum!</p>
            </div>
            <img src="../static/gallery/marginalia-location-access.png" alt="TRUST">
        </div>
    </div>
    
</section>
<!-- end of qualities -->

<!-- founder -->
<section id="founder">
    <h1>THE PROPRIETRESS</h1>

    <div class="founder-content">
        <div class="img"><img src="../static/gallery/IMG-20201124-WA0055.jpg" alt="founder"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nostrum commodi assumenda iusto eaque accusamus quis, explicabo distinctio sint quibusdam quisquam provident placeat id totam, mollitia ad laudantium omnis corrupti beatae. Pariatur repellat recusandae aperiam impedit harum amet ipsam eveniet nesciunt corrupti eaque rem, error saepe numquam vero quis eos eum veniam sapiente animi ducimus, in dolorem. Eius cumque sed voluptates ipsa et, earum, error, omnis rem neque molestias dignissimos!</p>
    </div>
</section>
<!-- end of founder -->


<!-- contacts -->
<section id="contact">
    <h1>CONTACTS</h1>
    <h3>Speak to us using the following methods</h3>

    <div class="contact-con">
        <div class="contact-content">
            <div class="content-head">
                <div class="contact-img"><img src="../static/gallery/email.png" alt="email"></div>
                <h2>email</h2>
            </div>
                <p>Graceschool@gmail.com</p>
        </div>
        <div class="contact-content">
            <div class="content-head">
                <div class="contact-img"><img src="../static/gallery/phone-call.png" alt="phone"></div>
                <h2>phone</h2>
            </div>
                <p>08043456732</p>
        </div>
        <div class="contact-content">
            <div class="content-head">
                <div class="contact-img"><img src="../static/gallery/whatsapp.png" alt="whatsapp"></div>
                <h2>whatsapp</h2>
            </div>
                <p>09056743821</p>
        </div>
    </div>
</section>
<!-- end of contacts -->

{% endblock %}