{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="..\static\css\admissions.css">

<title>Admissions</title>
{% endblock %}
      
{% block body %}

<!-- admission -->
<section id="admissions">
    <!-- admission slots -->
    <div class="creche">
        <div class="package">
            <h1>CRECHE</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.</p>
            <div class="stroke"></div>
            <a href="#" class="btn">Register now &#8594</a>
        </div>
    </div>
    <div class="pre-nursery">
        <div class="package">
            <h1>PRE-NURSERY</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.</p>
            <div class="stroke"></div>
            <a href="#" class="btn">Register now &#8594</a>
        </div>
    </div>
    <div class="nursery">
        <div class="package">
            <h1>NURSERY</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.</p>
            <div class="stroke"></div>
            <a href="#" class="btn">Register now &#8594</a>
        </div>
    </div>
    <div class="primary">
        <div class="package">
            <h1>PRIMARY</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.</p>
            <div class="stroke"></div>
            <a href="#" class="btn">Register now &#8594</a>
        </div>
    </div>
    <div class="secondary">
        <div class="package">
            <h1>SECONDARY</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.adipisicing elit. Est eum eaque error cumque eius suscipit, repellat modi cupiditate! Sequi a alias vero maiores esse fugit sit perferendis magnam nobis mollitia.</p>
            <div class="stroke"></div>
            <a href="#" class="btn">Register now &#8594</a>
        </div>
    </div>
</div>
    <!-- end of admission slots -->
</section>
<!-- end of admission -->

{% endblock %}