{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/gallery.css">

<title>Gallery</title>
{% endblock %}
      
{% block body %}

<!-- gallery -->
<section id="gallery">
    <div class="header">
        <h2><span>&#8592</span> OUR SCHOOL GALLERY <span>&#8594</span></h2>
    </div>
            
        <div class="gallery">
            <a  href="../static/gallery/img1.jpg"><img src="../static/gallery/img1s.jpg" alt=""></a>
            <a  href="../static/galleryimg2.jpg"><img src="../static/gallery/img2s.jpg" alt=""></a>       
            <a  href="../static/galleryimg3.jpg"><img src="../static/gallery/img3s.jpg" alt=""></a>       
            <a  href="../static/galleryimg4.jpg"> <img src="../static/gallery/img4s.jpg" alt=""></a>     
            <a  href="../static/gallery/img5.jpg"> <img src="../static/gallery/img5s.jpg" alt=""></a>     
            <a  href="../static/gallery/img6.jpg"><img src="../static/gallery/img6s.jpg" alt=""></a>    
            <a  href="../static/gallery/img7.jpg"> <img src="../static/gallery/img7s.jpg" alt=""></a>     
            <a  href="../static/gallery/img8.jpg"> <img src="../static/gallery/img8s.jpg" alt=""></a>    
            <a  href="../static/gallery/img9.jpg"> <img src="../static/gallery/img9s.jpg" alt=""></a>    
            <a  href="../static/gallery/img10.jpg"><img src="../static/gallery/img10s.jpg" alt=""></a>       
        </div>
    </section>
    <!-- end ofgallery -->

{% endblock %}