{% extends 'base.html' %}

{% block head %}
<script src="../static/js/loadin.js"></script>
<link rel="stylesheet" href="../static/css/loader.css">
<link rel="stylesheet" href="">
<link rel="stylesheet" href="../static/css/home.css">

<title>Unique Divine Grace Int</title>
{% endblock %}
      
{% block body %}

<!-- css loader -->
<div class="loader_bg">
    <div class="loader"></div>
</div>
<!-- end of css loader -->
    
<!-- hero -->
<section id="hero">
    <div class="home-content">
        <h1>UNIQUE DIVINE GRACE <br>INTERNATIONAL SCHOOLS</h1>
        <p class="motto">MOTTO: Academic Exelence and intergrity</p>
        <p class="fill">
            Lorem ipsum dolor sit amet consectetur adipisicing culpa aspernatur facilis voluptates <br> 
            elit. Non, labore adipisci, incidunt temporibus suscipit obcaecati beatae iusto <br> 
            nemo perferendis harum id, tempore eos nesciunt numquam doloribus <br> 
        </p>
        <a class="btn"  href="/aboutus#contact">Contact Us Now&#8594</a>
    </div>
</section>
<!-- end of hero -->

<section id="trust">
    <div class="container">
        <div class="content">
            <div class="content-head">
                <h3>Goals</h3>
                <img src="..\static\gallery\mission.png" alt="Goals">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aut veritatis doloribus laboriosam corrupti similique voluptatibus vero iste cupiditate tempora! Perspiciatis ipsum officia modi aperiam quam est animi corporis autem porro sapiente! Incidunt commodi dolorem, consequuntur reprehenderit tenetur eveniet vel!</p>
        </div>
        <div class="content">
            <div class="content-head">
                <h3>Achievements</h3>
                <img src="..\static\gallery\success.png" alt="Achievements">
            </div>
            <p>-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, fuga?</p>
            <p>-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, fuga?</p>
            <p>-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, fuga?</p>
            <p>-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, fuga?</p>
            
        </div>
        <div class="content">
            <div class="content-head">
                <h3>Involvements</h3>
                <img src="..\static\gallery\puzzle.png" alt="Involvements">
            </div>
            <p>-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, fuga?</p>
            <p>-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, fuga?</p>
            <p>-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, fuga?</p>
            <p>-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, fuga?</p>
            
        </div>
        <div class="content">
            <div class="content-head">
                <h3>Awards</h3>
                <img src="..\static\gallery\medal.png" alt="awards">
            </div>
            <img src="..\static\gallery\one.png" alt="one">
            <img src="..\static\gallery\three.png" alt="three">
            <img src="..\static\gallery\four.png" alt="four">
            <img src="..\static\gallery\five.png" alt="five">
            
        </div>
    </div>
</section>

<section id="services">
    <div class="service-head">
        <h1>SERVICES</h1>
        <p>check out theservices that we offer</p>
    </div>

    <div class="service-body">
        <div class="service-content hidden">
            <p class="work">good teachers</p>
            <!-- picture -->
            <img class="model" src="..\static\gallery\undraw_professor_8lrt.png" alt="good teachers">
            <!-- details -->
            <div class="details">
                <!-- details -->
                <p class="details">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto deleniti quo nostrum voluptas 
                    dicta! Corporis ut, labore sunt illum ullam, vero neque eveniet magnam molestias ea ipsum recusandae 
                    ducimus amet!
                </p>
            </div>
        </div>
        <div class="service-content vissible">
            <p class="work">conducive learning environment</p>
            <!-- picture -->
            <img class="model" src="..\static\gallery\undraw_studying_s3l7.png" alt="learning">
            <!-- details -->
            <div class="details">
                <!-- details -->
                <p class="details">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto deleniti quo nostrum 
                    voluptas dicta! Corporis ut, labore sunt illum ullam, vero neque eveniet magnam molestias ea 
                    ipsum recusandae ducimus amet!
                </p>
            </div>
        </div>
        <div class="service-content vissible">
            <p class="work">good teachers</p>
            <!-- picture -->
            <img class="model" src="..\static\gallery\undraw_professor_8lrt.png" alt="good teachers">
            <!-- details -->
            <div class="details">
                <!-- details -->
                <p class="details">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto deleniti quo nostrum 
                    voluptas dicta! Corporis ut, labore sunt illum ullam, vero neque eveniet magnam molestias ea 
                    ipsum recusandae ducimus amet!
                </p>
            </div>                  
        </div>
        <div class="service-content vissible">
            <p class="work">Recreatioinal facilities</p>
            <!-- picture -->
            <img class="model" src="..\static\gallery\undraw_toy_car_7umw.png" alt="Recreation">
            <!-- details -->
            <div class="details">
                <!-- details -->
                <p class="details">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto deleniti quo nostrum voluptas 
                    dicta! Corporis ut, labore sunt illum ullam, vero neque eveniet magnam molestias ea ipsum recusandae 
                    ducimus amet!
                </p>
            </div>
        </div>
        <div class="service-content hidden">
            <p class="work">good teachers</p>
            <!-- picture -->
            <img class="model" src="..\static\gallery\five.png" alt="good teachers">
            <!-- details -->
            <div class="details">
                <!-- details -->
                <p class="details">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto deleniti quo nostrum voluptas 
                    dicta! Corporis ut, labore sunt illum ullam, vero neque eveniet magnam molestias ea ipsum recusandae 
                    ducimus amet!
                </p>
            </div>
        </div>
    </div>
    
</section>

<!-- testimonial -->
<section id="testimonial">
    <h1>Testimonials</h1>

    <div class="line"></div>

    <p>Here are some reviews about us from parents and gaurdians</p>

    <div class="testimonial-container">
        <div class="test-container-content">
            <div class="pic"><img src="..\static\gallery\teacher.jpg" alt="picture"></div>
            <h3>FULL NAME</h3>
            <div class="stars"><img src="..\static\gallery\five-stars blue(1).png" alt="statrs"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est omnis suscipit reprehenderit 
                temporibus fugit debitis autem doloribus beatae quisquam! Praesentium voluptate id quae, possimus eaque 
                sequi nostrum doloremque sapiente.
            </p>
        </div>
        <div class="test-container-content">
            <div class="pic"><img src="..\static\gallery\teacher.jpg" alt="picture"></div>
            <h3>FULL NAME</h3>
            <div class="stars"><img src="..\static\gallery\three-stars.png" alt="stars"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est omnis suscipit reprehenderit 
                temporibus fugit debitis autem doloribus beatae quisquam! Praesentium voluptate id quae, possimus eaque 
                sequi nostrum doloremque sapiente.
            </p>
        </div>
        <div class="test-container-content">
            <div class="pic"><img src="..\static\gallery\teacher.jpg" alt="picture"></div>
            <h3>FULL NAME</h3>
            <div class="stars"><img src="..\static\gallery\five-stars blue(1).png" alt="stars"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est omnis suscipit reprehenderit 
                temporibus fugit debitis autem doloribus beatae quisquam! Praesentium voluptate id quae, possimus eaque 
                sequi nostrum doloremque sapiente.
            </p>
        </div>
        
    </div>

    <a href="/aboutus" class="btn">Read More &#8594</a>
</section>
<!-- end oftestimonial -->

<!-- reg -->
<section id="reg">
    <!-- <p class="word">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque omnis, nisi similique dolor nemo asperiores rem 
        sapiente modi natus accusantium labore quos saepe iusto tenetur error, reprehenderit dolorem unde sunt quia vel! 
        Fuga ducimus odit labore minima consequatur mollitia consectetur nulla incidunt tenetur laboriosam, dolorem sunt 
        ullam nobis! Blanditiis, iste.
    </p> -->
    <a href="/admissions"><button class="btn">Register Now</button></a>  
    
</section>
<!--end of reg -->
{% endblock %}